body {

}

ul {
  list-style-type: disc;
  margin-bottom: .75em;
  padding-left: 1.5em;
}

.container {
  // @include grid-visual;
  padding: 0;
  @include desktop {
    max-width: 1310px;
  }
  @include mobile {
    max-width: 1310px;
  }
  @include hd-desktop {
    max-width: 1310px;
  }
}

.inner_container {
  margin-left: 0 !important;
  margin-right: 0px;
  width: 100%;
}
