body {

}

ul {
  list-style-type: disc;
  margin-bottom: .75em;
  padding-left: 1.5em;
}

.container {
  // @include grid-visual;
  @include desktop {
    padding: $container-padding 0;
    max-width: $desktop-width + 200;
  }
  @include mobile {
    padding: 5px;
  }
  @include hd-desktop {
    max-width: $hd-desktop-width - 50;
  }
  padding: 0 !important;
}

.inner_container {
  margin-left: 0 !important;
  margin-right: 0px;
  width: 100%;
}

.bump {
  margin-top: $baseline*2;
}

.indent {
  @include grid-column(10);
  @include grid-push(1);
}

.indent_b {
  @include grid-column(9);
}

.indent_c {
  @include grid-column(9);
  @include grid-push(3);
}

.contents {
  @include grid-column(3);
}
