.footer {
  padding: 0;

  .sign_up {
    @include grid-column(5);
    margin-bottom: $baseline;

    @include mob_tab {
      @include grid-column(12);
    }
  }
  .contact_details {
    @include grid-column(6);
    @include grid-push(1);
    margin-bottom: $baseline;
    @include mob_tab {
      @include grid-column(12);

    }
  }
  .terms {
    @include grid-column(12);
    ul {
      margin-bottom: 0;
      li {
        margin-right: $gutter*0.5;
        display: inline-block;
      }
    }
  }
}
