footer.footer {
  .signup, .contact {
    margin-top: $baseline;
    margin-bottom: $baseline;
    @include grid-column(6);
  }
  .twitter {
    margin-top: $baseline;
    margin-bottom: $baseline;
    min-height: 250px;
    @include grid-column(6);
  }
  nav.nav {
    @include grid-column(10);

  }
}
