header.header {
  .logo {
    @include grid-column(2, $no_gutter_grid);
    margin-left: -9px;
    @include mob_tab {
      @include grid-column(12);
      text-align: center;
      margin-top: 25px;
      margin-bottom: 15px;
      margin-left: 0px;
      img {
        margin: 0 auto;
      }
    }
  }
  nav.nav {
    @include grid-column(10, $no_gutter_grid);
    @include mob_tab {
      @include grid-column(12);
      text-align: center !important;
      line-height: 40px;
    }
  }
}
