header.header {
  .logo {
    @include grid-column(2, $no_gutter_grid);
    @include mob_tab {
      @include grid-column(12, $no_gutter_grid);
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
      img {
        margin: 0 auto;
      }
    }
  }
  nav.nav {
    @include grid-column(10, $no_gutter_grid);
    @include mob_tab {
      @include grid-column(12, $no_gutter_grid);
      text-align: center !important;
      line-height: 40px;
      margin-left: 0px;
      width: 100%;
    }
  }
}
