section.section {
  margin-top: $baseline;
  margin-bottom: $baseline;
  @include grid-column(12);
}

section.bar {
  margin-top: $baseline;
  margin-bottom: $baseline;

}

section.impact {
  margin-top: $baseline;
  margin-bottom: $baseline;

}

section.title {
  margin-top: $baseline;
  margin-bottom: $baseline;

}

section.collection {
  margin-top: $baseline;
  margin-bottom: $baseline*4;
  .single {
    @include grid-column(3);

    @include mob_tab {
      @include grid-column(12);
      margin-bottom: 50px;
    }
  }

  .title {
    padding-left: 75px;
    position: relative;

    &:before {
      content:"";
      position: absolute;
      width: 25px;
      left: 0;
      top: 17px;
      border-top: 3px solid $black;
    }
  }
}

section.cta {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

section.sign_up {
  text-align: center;
  margin-top: $baseline;
  margin-bottom: $baseline;
  min-height: 250px;
  p {
    max-width: 400px;
    margin: 10px auto;
  }
  .button {
    margin-top: 25px;
  }
  @include grid-column(7);
  @include mobile {
    @include grid-column(12);
  }
}

section.twitter {
  margin-top: $baseline;
  margin-bottom: $baseline;
  min-height: 250px;
  @include grid-column(5);
  @include mobile {
    @include grid-column(12);
  }
}

.involved_logos {
  h3 {
    text-align: left;
  }
  img {
    max-width: 160px;
    max-height: 150px;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 20px 15px 0px;
    filter: grayscale(100%);
    opacity: 0.8;

    &:hover {
      filter: grayscale(0%);
      opacity: 1;
    }
  }
  .development {
    img {
      width: 32%;
    }
  }

  .development {
    @include grid-column(6);
    @include mob_tab {
      @include grid-column(12);
    }
  }
  .research, .funders, .network {
    @include grid-column(2);
    @include mob_tab {
      @include grid-column(4);
    }
  }
}
