section.section {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

section.tagline {
  margin-top: $baseline;
  margin-bottom: $baseline*4;
  h1 {
    @include grid-column(8);
  }
  h4, p {
    @include grid-column(12);
  }
}

section.bar {
  margin-top: $baseline;
  margin-bottom: $baseline;

}

section.impact {
  margin-top: $baseline*4;
  margin-bottom: $baseline*4;
  @include grid-column(10);
  @include grid-push(1);
}

section.collection {
  margin-top: $baseline;
  margin-bottom: $baseline;
  .single {
    @include grid-column(3);
  }
  + section.collection {
    margin-top: $baseline*4;
  }
}

section.title {
  h1 {
    @include grid-column(3);
  }
}

section .page {
  @include grid-column(9);
  @include grid-push(3);
}

section.overview {
  @include grid-column(8);
  @include grid-push(3);
  margin-bottom: $baseline*2;
}

.summary, .action {
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
}

.summary {
  @include grid-column(4);
  @include grid-push(3);
}
.action {
  @include grid-column(4);
  .button {
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 100%;
  }
}

section.partners {
  margin-top: $baseline*4;
  margin-top: $baseline*4;
  h2 {
    @include grid-column(12);
  }
  img {
    max-width: 160px;
    max-height: 150px;
    margin: 0 auto;
    display: inline-block;
  }
  .development {
    margin-top: $baseline*4;
    margin-bottom: $baseline*2;
    @include grid-column(6);
    img {
      width: 18%;
      margin-right: 1%;
    }
  }
  .research, .funders, .network {
    margin-top: $baseline*4;
    margin-bottom: $baseline*2;
    @include grid-column(2);
    img {
      width: 55%;
    }
  }
}

section.cta {
  margin-top: $baseline;
  margin-bottom: $baseline;
}
