.summary {
  @include grid-column(8);
  @include grid-push(2);
  a {
    display: block;
    border-bottom: $style $thin $color;
    padding-top: $baseline;
    padding-bottom: $baseline;
    &:hover {
      border-color: $brand;
    }
  }
}