.container
  .full_width

    %h1
      Intensive Family Preservation Programmes (IFPPs)

    %h4
      IFPPs are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that work intensively with families to try to avoid out-of-home placement.
    %p
      %strong
        Summary
      %br
      A rapid response (within 24 hours of referral) and intensive (4-6 week) programme that provides a range of services to families in crisis, tailored to the family’s needs.

    %p
      %strong
        Outcomes
      %br
      Entry to care
      %br
      Family functioning
    
    %p
      %strong
        Effective for
      %br
      Lower-risk families where concerns are not related to abuse or neglect
    
    %p        
      %strong
        Delivered by
      %br
      Social workers

.container
  .full_width

    %h2
      What is this?
    %p
      Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that works intensively with families to try to avoid out-of-home placement.
    
    %h3
      How is it meant to work?
    %p
      This a rapid response (within 24 hours of referral) and intensive (4-6 week) programme that provides a range of services to families in crisis, tailored to the family’s needs. Typically, the programme includes parenting training, therapeutic input for adults and/or children and practical or financial support. By intervening at times of crisis, IFPPs seek to stabilise families and help them to provide “good-enough” parenting, as well as helping to build resilience in case of future crises.
    %p
      In the US, this is referred to as the ‘Homebuilders’ model. In the UK, an IFPP model called ‘Option 2’ has been developed specifically for families where there are serious child protection concerns related to drug or alcohol misuse.
    %h3
      What are the evaluated outcomes?
    %ul
      %li
        Entry to care
      %li
        Family functioning
    %h3
      How effective is it overall?

    %p
      Entry to care – Overall, IFPPs were not effective in reducing entry to care for families in crisis. This is based on moderate-quality evidence.
    %p
      Family functioning – IFPPs had a low to moderate effect on family functioning. This is based on low-quality evidence.

.container
  .full_width

    %h2
      When, where and who does this work for?
    %h3
      Where has it been implemented?
    %p
      The majority of the studies have been carried out in the US. There has been one study in the UK. 
    %h3
      When does it work best?
    %p
      If people delivering intervention have small caseloads.
    %p
      Intensity is more important than duration of the intervention.
    %h3
      Who does it work for?
    %p
      %strong
        For reducing entry to care, IFPPS is:
    %p
      %strong
        Not effective for
      %br
      Families where the key concerns relate to abuse and neglect
    %p
      %strong
        Effective for
      %br
      Lower-risk families where concerns are not related to abuse and neglect
    %p
      %strong
        Has a negative effect for
      %br
      Families initially not judged at risk of children entering care
    %p
      %strong
        This intervention has been shown to be more effective for
      %br
      Boys compared to girls
      %br
      Younger compared to older children

.container
  .full_width

    %h2
      How does it work in practice?
    %p
      The evidence suggests that IFPPs can help lower-risk families whose problems are not linked to abuse and neglect. They can help to avoid risk escalating, leading to removal of children.
    %p
      There was little evidence about the mechanisms for this.
    %h3
      How is this implemented?

    %p
      %strong
        Who can deliver it?
      %br
      Social workers
    %p
      %strong
        What are the training requirements?
      %br
      DK
    %p
      %strong
        How are the practitioners supervised?
      %br
      DK
    %p
      %strong
        What are the systems for maintaining fidelity?
      %br
      DK
    %p
      %strong
        What else supports good implementation?
      %br
      Limited caseloads for those delivering the intervention
    %p
      %strong
        Useful contacts
      %br
      Sheffield Alcohol Support Service
      %br
      Cardiff and Vale of Glamorgan

    %h3
      What are the costs and benefits?
    %p
      There is no evidence on the cost-benefit of this intervention.

    %h3
      What else do I need to consider?
    %p
      Before implementing this intervention it is important to
    %ul
      %li
        Be clear about who you are targeting, as the intervention is not effective for all types of families
      %li
        Ensure that the people delivering the intervention can provide a high- intensity of service – this will mean having relatively small caseloads
      %li
        This intervention may not help you reduce overall entry to care, but may help to improve family functioning for some families