---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=job&fields.closing_date%5Bgte%5D=2018-06-08
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      X-Contentful-Request-Id:
      - 3bfab485a82b2302bb10f49dd91f64b1
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 08 Jun 2018 00:00:00 GMT
recorded_with: VCR 4.0.0
