body {
  font-family: $stack;
  color: $black;
  font-size: $body;
  font-weight: 400;
  line-height: $baseline;
}

strong {
  color: $black;
  font-weight: 700;
}

a {
  &:not(.button), a:active, a:visited  {
    color: $black;
    font-weight: 600;
    text-decoration: underline;
    @include ease;
    // border-bottom: $medium $style transparentize($brand, $amount);
  }
  &:hover {
    color: $brand;
    border-bottom-color: $white;
    @include ease;
  }
}

p {
  color: $gray;
  margin-bottom: $baseline*0.5;
}

.summary p {
  font-weight: 400;
}

// small
.single p,
.date,
cite,
blockquote + p,
footer .footer p, .footer ul li {
  font-size: $small;
  font-weight: 400;
  line-height: calc(#{$small} + #{$baseline*0.4});
}

h2, h3 {
  margin-bottom: $baseline*0.25;
}

// these calculations are not complete, just placeholder for now.

h1 {
  // color: $brand;
  font-family: $stack-b;
  font-size: $h1;
  font-weight: 900;
  line-height: calc(#{$h1} + #{$baseline*0.15});
  margin-bottom: $baseline*0.25;
}

h2 {
  font-family: $stack-b;
  font-size: $h2;
  font-weight: 700;
  line-height: calc(#{$h2} + #{$baseline*0.05});
}

.team h2 {
  margin-bottom: $baseline;
}

.impact h2 {
  font-family: $stack;
  color: $gray;
  font-size: $h2*0.75;
  font-weight: 300;
  line-height: calc(#{$h2*0.75} + #{$baseline*0.2});
}

h3,
.page h2,
.page h3,
.summary h2 {
  font-family: $stack;
  font-size: $h3;
  font-weight: 700;
  line-height: calc(#{$h3} + #{$baseline*0.25});
}

.page p, 
.overview p {
  & + h2,
  & + h3 {
    margin-top: $baseline*1.5;
  }
}

h4 {
  color: $gray;
  font-family: $stack;
  font-size: $h4;
  font-weight: 300;
  line-height: calc(#{$h4} + #{$baseline*0.35});
  margin-top: 0;
  margin-bottom: $baseline;
  p.subheading {
    color: $gray;
    margin-top: 0;
    margin-bottom: $baseline;
  }
}

blockquote {
  p {
    font-family: $stack-b;
    font-size: $body;
    line-height: $baseline;
    padding-left: $gutter;
    padding-right: $gutter;
    border-left: $medium $style $color;
    &:before {
      content: "“";
      margin-right: $gutter*0.25;
    }
    &:after {
      content: "”";
      margin-left: $gutter*0.25;
    }
  }
}

cite,
blockquote + p {
  color: $gray;
  font-style: italic;
  display: block;
  padding-left: $gutter;
  margin-bottom: $baseline*3;
  &:before {
    content: "– ";
  }
}