body {
  font-family: $stack;
  color: $black;
  font-size: $body;
  font-weight: 400;
  line-height: $baseline;
}

strong {
  font-weight: 700;
}

a {
  &:not(.button), a:active, a:visited  {
    color: $black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: $medium $style transparentize($brand, $amount);
  }
  &:hover {
    color: $brand;
    border-bottom-color: $white;
  }
}

p {
  margin-bottom: $baseline*0.5;
}

h2, h3 {
  margin-bottom: $baseline*0.25;
}


// these calculations are not complete, just placeholder for now.

h1 {
  // color: $brand;
  font-family: $stack-b;
  font-size: $h1;
  font-weight: 900;
  line-height: calc(#{$h1} + #{$baseline*0.2});
  margin-bottom: $baseline*0.5;
}

h2 {
  font-family: $stack-b;
  font-size: $h2;
  font-weight: 700;
  line-height: calc(#{$h2} + #{$baseline*0.05});
}

h3,
.page h2,
.page h3,
.summary h2 {
  font-family: $stack;
  font-size: $h3;
  font-weight: 700;
  line-height: calc(#{$h3} + #{$baseline*0.2});
}

.page p + h2,
.page p + h3 {
  margin-top: $baseline;
}

h4 {
  font-family: $stack;
  font-size: $h4;
  font-weight: 300;
  line-height: calc(#{$h4} + #{$baseline*0.23});
  margin-bottom: $baseline*0.4;
}

p + h2 {
  margin-top: $baseline;
}

blockquote {
  border-top: $thin*0.25 $style $color;
  padding: $baseline 0 0 0;
  margin-top: $baseline*1.5;
  p {
    font-family: $stack-b;
    font-size: $body*1.5;
    line-height: $baseline;
    padding-left: $gutter;
    padding-right: $gutter;
    &:before {
      content: "“";
      margin-right: $gutter*0.25;
    }
    &:after {
      content: "”";
      margin-left: $gutter*0.25;
    }
  }
}

cite {
  color: $gray;
  font-size: $small;
  font-style: italic;
  display: block;
  padding-left: $gutter;
  padding-bottom: $baseline;
  border-bottom: $thin $style $color;
  margin-bottom: $baseline*1.5;
  &:before {
    content: "– ";
  }
}

.impact {
  h2 {
    line-height: 43px;
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
  }
  p {
    color: $brand;
    font-size: $p * 2;
    font-weight: 300;
  }
}

footer.footer {
  p, ul li {
    font-size: $small;
    line-height: $baseline*0.9;
  }
}
