ul, ol {
  margin-top: $baseline*1.25;
  margin-bottom: $baseline*1.25;
  list-style: disc;
  li {
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.25;
  }
}

ol {
  list-style: decimal;
}