.logo {
  text-indent: -9999px;
  h1 {
    display: none;
  }
  img {
    @include borderbox;
    height: $logo;
    width: $logo;
    border: $border-width $border-style $black;
  }
}

footer.footer {
  img {
    height: $logo*0.75;
    width: $logo*0.75;
  }
}
