nav.nav {
  line-height: $logo;
  ul {
    padding-left: 0;
    li {
      display: inline;
      margin: 0 15px;
      white-space: nowrap;
      @include tablet {
        margin: 0 4.5px;
      }
      &:last-child {
        margin-right: 0;
      }
      &.selected {
        font-weight: 600;
      }
      a {
        color: $black !important;
        text-decoration: none !important;
        font-size: 20px;
      }
    }
  }
}

footer.footer {
  nav.nav {
    line-height: $logo*0.75;
  }
}
