nav.nav {
  line-height: $logo;
  ul {
    li {
      display: inline;
      margin-left: $gutter;
      white-space: nowrap;
    }
  }
}

footer.footer {
  nav.nav {
    line-height: $logo*0.75;
  }
}