nav.nav {
  line-height: 120px;
  ul {
    padding-left: 0;
    li {
      display: inline;
      margin: 0 15px;
      white-space: nowrap;
      @include mob_tab {
        margin: 0;
        margin-right: 15px;
      }
      &:last-child {
        margin-right: 0;
      }

      a {
        color: $black !important;
        text-decoration: none !important;
        letter-spacing: 0.25px;

        &:hover {
          color: $brand !important;
        }
      }
      &.selected {
        font-weight: 600;
        a {
          letter-spacing: 0;
          position: relative;
          padding-bottom: 5px;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            border-top: 2px solid #000;
          }
        }
      }
    }
  }
}
