section.collection.blog_list {
  .single {
    @include grid-column(4);
    margin-bottom: 50px;
  }
  .featured {
    @include grid-column(8);

    h3 {
      font-size: 34px;
      line-height: 44px;
    }
  }
}


.single_blog {
  h1 {
    margin-bottom: 0 !important;
  }
  .blog_details {
    margin: 20px 0;
    color: rgba($black, 0.2);
    font-weight: 300;
    position: relative;
    padding-bottom: 20px;
    .date, .author {
      display: inline;
    }
    &:after {
      content:"";
      position: absolute;
      width: 25px;
      left: 0;
      bottom: 0;
      border-top: 3px solid $black;
    }
  }

  .blog_container {
    padding-bottom: 25px;
    border-bottom: $border-style $border-width $black;

    .top_section {
      @include grid-column(11);
      @include mobile {
        @include grid-column(12);
      }
    }
  }
}
