.blog_list {
  li {
    @include grid-column(4);

    &:first-child {
      @include grid-column(8);
    }
  }
}


.single_blog {
  h1 {
    margin-bottom: 0 !important;
  }
  .blog_details {
    margin: 25px 0;
    color: $gray;
    font-weight: 300;
    .date, .author {
      display: inline;
    }
  }

  .blog_container {
    padding-bottom: 25px;
    border-bottom: $border-style $border-width $black;
  }
}
