.homepage_link {
  padding-left: 75px;
  margin-bottom: 150px !important;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    width: 25px;
    left: 0;
    top: 17px;
    border-top: 3px solid $black;
  }

  h3 {
    font-weight: 500;
    font-size: 29px;
    margin-bottom: 20px;
    line-height: calc(29px + 0.18125em)
  }
}

.tagline {
  h4 {
    margin-bottom: 50px;
  }
}

#involved {
  margin-top: 75px;
  padding-left: 75px;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    width: 25px;
    left: 0;
    top: 17px;
    border-top: 3px solid $black;
  }
}
