.homepage_link {
  padding-left: 75px;
  margin-bottom: 150px !important;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    width: 25px;
    left: 0;
    top: 17px;
    border-top: 3px solid $black;
  }

  h3 {
    font-weight: 500;
    font-size: 29px;
    margin-bottom: 20px;
    line-height: calc(29px + 0.18125em)
  }
}

.tagline {
  margin-bottom: $baseline*4 !important;
  h4 {
    margin-bottom: $baseline*0.3;
  }
}

#involved {
  // padding-left: 75px;
  position: relative;

  // &:before {
  //   content:"";
  //   position: absolute;
  //   width: 25px;
  //   left: 0;
  //   top: 17px;
  //   border-top: 3px solid $black;
  // }

  h2 {
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 20px;
    &:after {
      content: "";
      position: absolute;
      width: 25px;
      left: 0;
      bottom: 0;
      border-top: 3px solid #000;
    }
  }

  h3 {
    margin-bottom: 0;
    font-weight: 600;
  }
  .involved_logos {
    margin-left: -20px !important;
    width: calc(100% + 40px) !important;

    img {
      max-width: 160px;
      max-height: 150px;
      margin: 0 auto;
      display: inline-block;
      padding: 0;
      margin: 10px;
      width: 70%;
    }
    .development {
      img {
        width: 32%;
        margin-top: 0;
      }
    }

    .development {
      @include grid-column(6);
      @include mob_tab {
        @include grid-column(12);
      }
    }
    .research, .funders, .network {
      @include grid-column(2);
      @include mob_tab {
        @include grid-column(4);
      }
    }
  }
}

