.members_list {
  padding: 30px 0;
  a {
    color: $black !important;
  }
  .single_member {
    @include grid-column(4);
    @include mobile {
      @include grid-column(12, $no_gutter_grid);
    }
    margin: 15px 0;
    padding-right: 15px;

    .role {
      color: rgba($black, 0.6);
    }

    img {
      @include grid-column(8);
      @include grid-push(2);
      margin-bottom: 10px;

      @include mobile {
        @include grid-column(4);
      }
      @include hd-desktop {
        @include grid-column(4);
      }

      display: inline-block;
      vertical-align: middle;
      height: auto;
      border: $border-style $border-width $black;
      border-radius: 100%;
    }
    .details {
      @include grid-column(12);
      @include mobile {
        @include grid-column(8);
      }
      @include hd-desktop {
        @include grid-column(8);
      }
      display: inline-block;
      vertical-align: middle;

      h3 {
        margin-bottom: 0;
      }
    }
  }
}
