#whos-involved {

  blockquote {
    margin: 15px 0;
    margin-top: 50px;
    padding: 0;
    border: none;
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    ul {
      @include grid-column(6);
      @include mob_tab {
        @include grid-column(12);
        margin-left: 0;
      }

      li {
        list-style-type: none;
        vertical-align: middle;
        margin-bottom: 15px;
        u {
          font-style: normal;
          font-family: $stack-b;
          text-decoration: none;
          min-width: 70px;
          font-size: 35px;
          font-weight: 300;
          float: left;
          display: block;
          height: 48px;
          margin-top: -4px;
        }
      }
    }
    p {
      @include grid-column(6);
      @include mob_tab {
        @include grid-column(12);
        margin-bottom: 50px;
      }

      margin: 0;
      padding: 0;
      font-weight: 600;
      margin-left: 0;

      &:before {
        content: none !important;
      }
      &:after {
        content: none !important;
      }
    }
  }
}
