%section.container
  %section.title
    %h1 Blog
  %section.collection
    - @blog_posts.each_with_index do |b, i|
      .single{class: i == 0 ? "featured" : ""}
        %h3
          =link_to blog_post_path(id: b.slug) do
            =b.title
          =b.decorate.decorate_date
          =b.decorate.decorate_author
