.container.content_page.blog

  %h1 Blog

  %ul.blog_list
    - @blog_posts.each_with_index do |b, i|
      %li
        -if i == 0
          .featured Featured
        =link_to b.title, blog_post_path(id: b.slug)
