.container
  %section.sign_up.color_block
    %h3 Sign up to keep updated
    %p Get news about the Centre’s development, blogs, jobs, events and how to get involved.
    .button Sign up now

  %section.twitter.color_block
    =fa_icon "twitter"
    most recent tweet goes here

  %section.section
    %h2 Who's involved
    .inner_container.involved_logos
      .development
        %h3 Development team
        %p logos go here
      .research
        %h3 Research partner
        %p logo goes here
      .funders
        %h3 Funders
        %p logo goes here
      .network
        %h3 Network
        %p logo goes here

%footer.footer.container
  %section.top
  %section.section
    = render template: "partials/footer_nav"
    .contact_details
      %h4 Contact us
      %p=mail_to "wwccsc@nesta.org.uk"
      %p
        For Press enquiries
        =mail_to "media@scie.org.uk"
      %p Sign-up for our updates

      %p
        =fa_icon "twitter"
        Follow us on twitter link

    .terms
      %ul
        %li Terms and conditions
        %li Privacy

      %p &copy; Nesta, 2018
