%footer.footer.container
  %section.top
  %section.section
    = render template: "partials/footer_nav"
    .contact_details
      %h4 Contact us
      %p=mail_to "wwccsc@nesta.org.uk"
      %p
        For Press enquiries
        =mail_to "media@scie.org.uk"
      %p Sign-up for our updates

      %p Follow us on twitter link

    .terms
      %ul
        %li Terms and conditions
        %li Privacy

      %p &copy; Nesta, 2018
