%section.container
  %section.profile
    = @team_member.decorate_image
  %section.details
    %h1
      = @team_member.name
    %h4
      = @team_member.role
  %section.page
    = parse_markdown(@team_member.bio)
