$stack: 'Source Sans Pro', sans-serif;
$stack-b: 'Playfair Display', serif;

$hd-desktop-width: 1360px;
$desktop-width: 960px;

$body: 18px;
$baseline: 1.45em;
$gutter: 20px;

$small: 16px;

$black: #000;
$off-black: #1d1d1d;
$white: #fff;
$gray: #E9E9E9;

$h1: 50px;
$h2: 30px;
$h3: 22px;
$h4: 32px;
$p: $body;

$brand: #FFAA41;

$logo: 135px;

$border-width: 3px;
$border-style: solid;

$base-border-radius: 0;

$no_gutter_grid: (
  columns: 12,
  gutter: 0px,
);
