$stack: 'Source Sans Pro', sans-serif;
$stack-b: 'Playfair Display', serif;

$hd-desktop-width: 1360px;
$desktop-width: 960px;

$body: 20px;
$baseline: 1.45em;
$gutter: 20px;

$small: 16px;

$black: #000;
$off-black: #1d1d1d;
$white: #fff;
$gray: #666;
$gray-b: #f0f0f0;
$gray-c: #bbbbbb;

$h1: 50px;
$h2: 32px;
$h3: 20px;
$h4: 32px;
$p: $body;

$brand: #FFAA41; // mustard
$brand-b: #E62D8C; // pink
$brand-c: #821982; // purple
$brand-d: #28AFA0; // turquoise
$highlight: #FFD9AA;

$positive: $brand;
$neutral: $white;
$negative: #ff4141;

$logo: 135px;

$border-width: 3px;
$border-style: solid;

$base-border-radius: 0;

$no_gutter_grid: (
  columns: 12,
  gutter: 0px,
);
