$stack: 'Source Sans Pro', sans-serif;
$stack-b: 'Playfair Display', serif;

$body: 18px;
$baseline: 1.45em;
$gutter: 20px;

$small: 16px;

$black: #000;
$white: #fff;
$gray: #bbb;

$h1: 50px;
$h2: 30px;
$h3: 22px;
$h4: 32px;
$p: $body;

$brand: #FFAA41;

$logo: 100px;

$border-width: 4px;
$border-style: solid;
