$stack: 'Source Sans Pro', sans-serif;
$stack-b: 'Playfair Display', serif;

$hd-desktop-width: 1360px;
$desktop-width: 960px;

$body: 19px;
$baseline: 1.45em;
$gutter: 40px;

$small: 16px;

$black: #333;
$white: #fff;
$gray: #666;
$gray-b: #f0f0f0;
$gray-c: #bbbbbb;

$h1: 50px;
$h2: 32px;
$h3: 20px;
$h4: 28px;
$p: $body;

$brand: #FFAA41; // mustard
$brand-b: #E62D8C; // pink
$brand-c: #821982; // purple
$brand-d: #28AFA0; // turquoise
$highlight: #FFD9AA;

$positive: $brand;
$neutral: $white;
$negative: #ff4141;

$logo: 135px;

$border-width-thin: 2px;
$border-width: 3px;
$border-style: solid;

$base-border-radius: 0;

$neat-grid: (
  gutter: $gutter,
);

$no_gutter_grid: (
  columns: 12,
  gutter: 0px,
);
