---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2O7Rhjup444OoMEUugqoGY
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"7731979f47fc5f6bce9eee2eaeb86951"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35818'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - afe4305d508ee12bc4f4041a1c598a87
      X-Iinfo:
      - 5-119340411-119340440 NNNN CT(77 84 0) RT(1529941721497 138) q(0 0 1 -1) r(3
        3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "<CONTENTFUL_SPACE_ID>"
              }
            },
            "id": "2O7Rhjup444OoMEUugqoGY",
            "type": "Entry",
            "createdAt": "2018-06-25T15:48:42.059Z",
            "updatedAt": "2018-06-25T15:48:42.677Z",
            "environment": {
              "sys": {
                "id": "<CONTENTFUL_ENVIRONMENT>",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0YPGZGiUm0o1pdmXHCjf2S"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0YPGZGiUm0o1pdmXHCjf2S"
              }
            },
            "version": 2,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "teamMember"
              }
            }
          },
          "fields": {
            "name": {
              "en-GB": "Person"
            },
            "slug": {
              "en-GB": "person"
            }
          }
        }
  recorded_at: Mon, 25 Jun 2018 15:48:42 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2O7Rhjup444OoMEUugqoGY/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=teamMember&sys.id=2O7Rhjup444OoMEUugqoGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"1659d95d1d1d1e4aa0f3c75bfe35ce4a"'
      X-Contentful-Request-Id:
      - 246c00dfbe5917275bc69f1ff1b335fe
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "2O7Rhjup444OoMEUugqoGY",
                "type": "Entry",
                "createdAt": "2018-06-25T15:48:43.135Z",
                "updatedAt": "2018-06-25T15:48:43.135Z",
                "environment": {
                  "sys": {
                    "id": "<CONTENTFUL_ENVIRONMENT>",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "teamMember"
                  }
                },
                "locale": "en-GB"
              },
              "fields": {
                "name": "Person",
                "slug": "person"
              }
            }
          ]
        }
  recorded_at: Mon, 25 Jun 2018 15:48:43 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/3vyGPtvDscmuoKe8E42UMy
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/3vyGPtvDscmuoKe8E42UMy/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=teamMember&sys.id=3vyGPtvDscmuoKe8E42UMy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd.[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2Bh1PSHGfO6goieqomgyoQ
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2Bh1PSHGfO6goieqomgyoQ/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=boardMember&sys.id=2Bh1PSHGfO6goieqomgyoQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/4kWtE4Y3YQmYiEyOYcYii8
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/4kWtE4Y3YQmYiEyOYcYii8/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=boardMember&sys.id=4kWtE4Y3YQmYiEyOYcYii8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/3NqSOkok2IGOK0yeIaCOAY
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/3NqSOkok2IGOK0yeIaCOAY/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=boardMember&sys.id=3NqSOkok2IGOK0yeIaCOAY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/bQUzVzTL2gQkgUWQE44iC
    body:
      encoding: UTF-8
      string: '{"fields":{"content":{"en-GB":"Blah"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applic[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/bQUzVzTL2gQkgUWQE44iC/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=stakeholderPanel&sys.id=bQUzVzTL2gQkgUWQE44iC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/5oZ6tqjJCwCQUa0EuqUowE
    body:
      encoding: UTF-8
      string: '{"fields":{"content":{"en-GB":"Blah"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Typ[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/5oZ6tqjJCwCQUa0EuqUowE/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=stakeholderPanel&sys.id=5oZ6tqjJCwCQUa0EuqUowE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - applicatio[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1t3jqa0A7y8e82eaICsM6s
    body:
      encoding: UTF-8
      string: '{"fields":{"content":{"en-GB":"Blah"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Typ[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1t3jqa0A7y8e82eaICsM6s/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=stakeholderPanel&sys.id=1t3jqa0A7y8e82eaICsM6s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - applicatio[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/68usoQ1rpec6OOciAM84sy
    body:
      encoding: UTF-8
      string: '{"fields":{"content":{"en-GB":"Blah"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Typ[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/68usoQ1rpec6OOciAM84sy/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=stakeholderPanel&sys.id=68usoQ1rpec6OOciAM84sy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - applicatio[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2O7Rhjup444OoMEUugqoGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"c031e15daf4eccffc4cb2b3a99ef7715"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35784'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 8f21ba163fa19d0c1cbe56d8f2b4e181
      X-Iinfo:
      - 7-37962395-37962396 NNNN CT(72 148 0) RT(1529941737597 23) q(0 0 2 -1) r(3
        3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot delete published",
          "requestId": "8f21ba163fa19d0c1cbe56d8f2b4e181"
        }
  recorded_at: Mon, 25 Jun 2018 15:48:58 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1bvn8qJhS6Iweu8YyA8c64
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1bvn8qJhS6Iweu8YyA8c64/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=teamMember&sys.id=1bvn8qJhS6Iweu8YyA8c64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd.[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/3MAFX2aIvYYGccC0QsOsqW
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/3MAFX2aIvYYGccC0QsOsqW/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=teamMember&sys.id=3MAFX2aIvYYGccC0QsOsqW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd.[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1ruGgM4n2MeM0iWUKek8KC
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1ruGgM4n2MeM0iWUKek8KC/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=boardMember&sys.id=1ruGgM4n2MeM0iWUKek8KC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1Mk3dKNvoY0sCoEEcY4kO8
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1Mk3dKNvoY0sCoEEcY4kO8/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=boardMember&sys.id=1Mk3dKNvoY0sCoEEcY4kO8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/6Erw1XhJv2WkquEi22eMyY
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Person"},"slug":{"en-GB":"person"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_A[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/6Erw1XhJv2WkquEi22eMyY/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=boardMember&sys.id=6Erw1XhJv2WkquEi22eMyY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2d8bnOvb1i8q4KgyYiUqcs
    body:
      encoding: UTF-8
      string: '{"fields":{"content":{"en-GB":"Blah"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Typ[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2d8bnOvb1i8q4KgyYiUqcs/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=stakeholderPanel&sys.id=2d8bnOvb1i8q4KgyYiUqcs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.8.0; integration contentful_model/1.0.0; platform ruby/2.5.0;
        os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_API_KEY>
      Content-Type:
      - applicatio[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2ybJS188aoCuiI4uY8O6Us
    body:
      encoding: UTF-8
      string: '{"fields":{"content":{"en-GB":"Blah"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Typ[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/2ybJS188aoCuiI4uY8O6Us/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries?content_type=stakeholderPanel&sys.id=2ybJS188aoCuiI4uY8O6Us
    body:
      encoding: US-ASCII
      string: ''
    headers:
[...]
