.container.content_page

  %h1= @section.title

  .indented
    = parse_markdown(@section.content)

    - if @pages.count > 0
      .full_width
        .sub_pages
          - @pages.each do |p|
            .single_sub_page.inner_container
              .title_container
                %h2=p.title
                .summary Summary would go here
              .button_container
                = link_to "View #{p.title.downcase}", section_page_path(@section.slug, p.slug), class: 'button'
