---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/content_types/page
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"09805614a0f686ee05d3908442c138f0"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35893'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 9e7a006c1138e0e21f03cdfd6589ac1f
      X-Iinfo:
      - 6-2206721-2206723 NNNN CT(0 0 0) RT(1529501114578 24) q(0 0 0 -1) r(1 1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "<CONTENTFUL_SPACE_ID>"
              }
            },
            "id": "page",
            "type": "ContentType",
            "createdAt": "2018-06-20T13:22:19.471Z",
            "updatedAt": "2018-06-20T13:22:44.844Z",
            "environment": {
              "sys": {
                "id": "<CONTENTFUL_ENVIRONMENT>",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0YPGZGiUm0o1pdmXHCjf2S"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0YPGZGiUm0o1pdmXHCjf2S"
              }
            },
            "publishedCounter": 2,
            "version": 4,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0YPGZGiUm0o1pdmXHCjf2S"
              }
            },
            "publishedVersion": 3,
            "firstPublishedAt": "2018-06-20T13:22:19.880Z",
            "publishedAt": "2018-06-20T13:22:44.844Z"
          },
          "displayField": "title",
          "name": "Page",
          "description": null,
          "fields": [
            {
              "id": "title",
              "name": "Title",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            },
            {
              "id": "slug",
              "name": "Slug",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": true,
              "omitted": false
            },
            {
              "id": "content",
              "name": "Content",
              "type": "Text",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            },
            {
              "id": "sub_pages",
              "name": "Sub Pages",
              "type": "Array",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false,
              "items": {
                "type": "Link",
                "validations": [
                  {
                    "linkContentType": [
                      "page"
                    ]
                  }
                ],
                "linkType": "Entry"
              }
            }
          ]
        }
  recorded_at: Wed, 20 Jun 2018 13:25:15 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-GB":"Some page"},"slug":{"en-GB":"some-page"},"content":{"en-GB":"Blah"},"sub_pages":{"en-GB":[]}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - page
      Content-Type-Id:
      - page
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"16d0bdcfcbaa8e3629cd6b034f01c014"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35892'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Rate[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1QyAKXrULa60c2AE6UKG4U/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"740b4d6659f7a6b6ff2f5b75a4ec6269"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35891'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1QyAKXrULa60c2AE6UKG4U
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"e7313699fc3bd2b792531e9dad65b419"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35890'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - a85dcc4475b9eecc629447ecbca877cd
      X-Iinfo:
      - 9-4315598-4315603 NNNN CT(0 0 0) RT(1529501117896 20) q(0 0 0 -1) r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot delete published",
          "requestId": "a85dcc4475b9eecc629447ecbca877cd"
        }
  recorded_at: Wed, 20 Jun 2018 13:25:18 GMT
[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/<CONTENTFUL_ENVIRONMENT>/entries/1QyAKXrULa60c2AE6UKG4U
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; integration contentful_model/1.0.0; platform
        ruby/2.5.0; os macOS/17;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_API_KEY>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35888'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - d583b2c93af8e288b13c41bc3556730c
      X-Iinfo:
      - 4-3393682-3393690 NNNN CT(0 0 0) RT(1529501118427 30) q(0 0 0 -1) r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 20 Jun 2018 13:25:19 GMT
recorded_with: VCR 4.0.0
