.container.content_page

  %h1= @page.title

  .indented
    = parse_markdown(@page.content)

    - if @page.sub_pages.count > 0
      .sub_pages
        - @page.sub_pages.each do |p|
          .single_sub_page
            .half
              %h2=p.title
              %p Summary would go here
            .half
              = link_to "View #{p.title.downcase}", page_page_path(@page.slug, p.slug), class: 'button'
