%section.container
  %section.profile
    = @board_member.decorate_image
  %section.details
    %h1
      = @board_member.name
    %h4
      = @board_member.role
  %section.page
    = parse_markdown(@board_member.bio)
