.container.board_member
  .single_person.full_width
    .person_details
      = @team_member.decorate_image

      %h1= @team_member.name

      %h4= @team_member.role

    .person_bio
      = parse_markdown(@team_member.bio)
