.container.board_member
  .single_person.full_width
    .person_details.full_width
      .inner_container
        = @board_member.decorate_image

        .text
          %h1= @board_member.name
          %h4= @board_member.role

    .person_bio.indented
      = parse_markdown(@board_member.bio)
