---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=<TWITTER_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAEXL6gAAAAAA1T%2FM9OppyXv5AYlYYewK3i%2BgxUY%3D9t0PToAoDeEa6S50VgexoFW52RLT3CS7hSwnYwpwe4ZhbdDIW0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 02 Jul 2018 11:35:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 6571ddcb42344611f2ded8d5c1b911df
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1464'
      X-Rate-Limit-Reset:
      - '1530531724'
      X-Response-Time:
      - '198'
      X-Transaction:
      - 003046ea005c225f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Jun 29 11:18:07 +0000 2018","id":1012656455416197120,"id_str":"1012656455416197120","text":"Stop
        \u2014 Yammer Time! 29\/06\/18 https:\/\/t.co\/Oh3bnAp2oh","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Oh3bnAp2oh","expanded_url":"http:\/\/tinyletter.com\/<TWITTER_USERNAME>\/letters\/stop-yammer-time-29-06-18","display_url":"tinyletter.com\/<TWITTER_USERNAME>\/lett\u2026","indices":[29,52]}]},"source":"\u003ca
        href=\"http:\/\/tinyletter.com\" rel=\"nofollow\"\u003eTinyLetter\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":12029252,"id_str":"12029252","name":"FutureGov","screen_name":"FutureGov","location":"\ud83c\uddec\ud83c\udde7
        | \ud83c\udde6\ud83c\uddfa | \ud83c\udde9\ud83c\uddea | \ud83c\uddee\ud83c\uddf9","description":"10
        years of designing and delivering public services fit for the digital age
        #FGis10 (ps we are hiring! \ud83d\udce9)","url":"https:\/\/t.co\/IO2mgoc89j","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/IO2mgoc89j","expanded_url":"http:\/\/weare<TWITTER_USERNAME>.com","display_url":"weare<TWITTER_USERNAME>.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":19894,"friends_count":7012,"listed_count":1035,"created_at":"Wed
        Jan 09 15:14:54 +0000 2008","favourites_count":4321,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":10277,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/953956486522294272\/Xg0iJkJ8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/953956486522294272\/Xg0iJkJ8_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/12029252\/1516275899","profile_link_color":"2C2B2B","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"D71614","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Jun 28 11:15:22 +0000 2018","id":1012293372105674752,"id_str":"1012293372105674752","text":"RT
        @BenHolliday: New jobs at @FutureGov - we''re looking for Senior Service Designers
        in London and in the North (Manchester or Sheffield) h\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"BenHolliday","name":"Ben
        Holliday","id":758888,"id_str":"758888","indices":[3,15]},{"screen_name":"F[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=<TWITTER_USERNAME>&tweet_mode=extended
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAEXL6gAAAAAA1T%2FM9OppyXv5AYlYYewK3i%2BgxUY%3D9t0PToAoDeEa6S50VgexoFW52RLT3CS7hSwnYwpwe4ZhbdDIW0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Jul 2018 13:33:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f1682a61937cf9c12ff7cf8441af25f3
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1481'
      X-Rate-Limit-Reset:
      - '1530625395'
      X-Response-Time:
      - '185'
      X-Transaction:
      - 00a9e583008fe83e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Jul 02 15:38:10 +0000 2018","id":1013809060146278400,"id_str":"1013809060146278400","full_text":"RT
        @FutureGov: Calling all Senior Service Designers in London &amp; the North
        - we''re hiring passionate people who want to change public servic\u2026","truncated":false,"display_text_range":[0,144],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"FutureGov","name":"FutureGov","id":12029252,"id_str":"12029252","indices":[3,13]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":12029252,"id_str":"1202[...]
[...]
