%section
  .container
    .full_width
      %h1
        Intensive Family Preservation Programmes

%section
  .container
    .indent    
      %h2
        How is it meant to work?
      %p
        These programme is a rapid response (within 24 hours of referral) and intensive (4-6 week) programme that provides a range of services to families in crisis, tailored to the family’s needs. Typically, the programme includes parenting training, therapeutic input for adults and/or children, and practical or financial support. By intervening at times of crisis, IFPPs seek to stabilise families and help them to provide “good- enough” parenting, as well as helping to build resilience in case offor future crises.
      %p
        In the US, this is referred to as the ‘Homebuilders’ model. In the UK, an IFPPS model called ‘Option 2’ has been developed specifically for families where there are serious child protection concerns related to drug or alcohol misuse.

      %h3
        What are the evaluated outcomes?
      %ul
        %li
          Family functioning
        %li
          Entry to care

%section
  .container
    .indent
      %h2
        Who does this work for?
      %p
        For reducing entry to care, IFPPs are:
      %h3
        Effective for
      %p
        Lower- risk families where concerns are not related to not about abuse and neglect
      %h3
        Not effective for…
      %p
        Families where the key concerns relate to abuse or neglect
      %h3
        Has a negative effective for…
      %p
        Families not initially judged at risk of children entering care

%section
  .container
    .indent
      %h2
        When, where and how does it work?
      %h3
        When does it work best?
      %ul
        %li
          If people delivering intervention have small caseloads
        %li
          Intensity is more important than duration of the intervention
      %h3
        Where has it been implemented? 
      %p
        The majority of the studies have been carried out in the US. There has been one study in the UK.

      %h3
        How does it work in practice?
      %p
        The evidence suggests that IFPPsS can help lower- risk families whose problems are not linked to abuse and neglect. They can help to to avoid risk escalating and leading to removal of children. 
      %p
        There was little evidence about the mechanisms for this.

%section.background
  .container
    .indent
      %h2
        How is it implemented?

      %h3
        Who can deliver it?
      %p
        Social workers

      %h3
        What are the training requirements?
      %p
        DK

      %h3
        How are the practitioners supervised?
      %p
        DK

      %h3
        What are the systems for maintaining fidelity?
      %p
        DK

      %h3
        What else supports good implementation?
      %p
        Limited caseloads for those delivering the intervention


%section
  .container
    .indent
      %h2
        What are the costs and benefits?
      %p
        There is no evidence on the cost-benefit of this intervention.


%section
  .container
    .indent
      %h2
        Other things to consider
      %p
        Before implementing this intervention it is important to:
      %ul
        %li
          Be clear about who you are targeting, as the intervention is not effective for all types of families
        %li
          Ensure that the people delivering the intervention can provide a high- intensity of service – this will mean having relatively small caseloads
        %li
          Be clear about the outcome you are trying to achieve. This intervention may not help you reduce overall entry to care, but may help to improve family functioning for some families



%section
  .container
    .indent
      %h2
        Further resources

      %h3
        Useful contacts

      %ul
        %li
          Sheffield Alcohol Support Service
        %li
          Cardiff and Vale of Glamorgan

      %h3
        Links and files

      %ul.no-bullet
        %li
          = link_to 'Pdf or file', ""
        %li
          = link_to 'External resource', ""
