.container.bump
  .full_width

    %h1
      Evidence results list
    %p
      Some instruction and clarification on how to navigate the evidence results listed below

/ .container
/   .indent
/     %strong
/       Filter
/     .items
/       .tags
/         %span
/           Domestic abuse
/         %span
/           Drug or alcohol abuse
/         %span
/           Emotional abuse
/         %span
/           Exploitation and radicalisation
/         %span.selected
/           Gangs
/         %span
/           Mental health
/         %span
/           Neglect
/         %span.selected
/           Physical abuse
/         %span
/           Sexual abuse
/         %span.selected
/           Youth offending

/     %button.update
/       Update results


.container
  .indent
    .item
      %h2
        What is this?
      %p
        Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that works intensively with families to try to avoid out-of-home placement.
      .date
        19 May 2018
      / .tags
      /   %span
      /     Gangs
      /   %span
      /     Physical abuse
      /   %span
      /     Youth offending
    .item
      %h2
        What is this?
      %p
        Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that works intensively with families to try to avoid out-of-home placement.
      .date
        19 May 2018
      / .tags
      /   %span
      /     Gangs
      /   %span
      /     Physical abuse
    .item
      %h2
        What is this?
      %p
        Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that works intensively with families to try to avoid out-of-home placement.
      .date
        19 May 2018
      / .tags
      /   %span
      /     Physical abuse
      /   %span
      /     Youth offending
    .item
      %h2
        What is this?
      %p
        Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that works intensively with families to try to avoid out-of-home placement.
      .date
        19 May 2018
      .date
        4 Sept 2017
      / .tags
      /   %span
      /     Youth offending