%section.background.hero
  .container

%section.dashboard
  .container

    / .items
    /   .tags
    /     %span
    /       Domestic abuse
    /     %span
    /       Drug or alcohol abuse
    /     %span
    /       Emotional abuse
    /     %span
    /       Exploitation and radicalisation
    /     %span.selected
    /       Gangs
    /     %span
    /       Mental health
    /     %span
    /       Neglect
    /     %span.selected
    /       Physical abuse
    /     %span
    /       Sexual abuse
    /     %span.selected
    /       Youth offending


    .indent
      = link_to '', class: 'item' do
        .item
          .details
            %h3
              Intensive Family Preservation Programmes
            %p
              Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that work intensively with families to try to avoid out-of-home placement.
          .measurement
            .of-effect
              %label
                Effect
              .spot.measure.fill
              .spot.measure.fill
              .spot.measure.fill
            .negative
              %label
                Negative
              .spot.measure
            .of-evidence
              %label
                Evidence
              .spot.measure.fill
              .spot.measure.fill
              .spot.measure

      = link_to '', class: 'item' do
        .item
          .details
            %h3
              IFPP
            %p
              Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that work intensively with families to try to avoid out-of-home placement.
          .measurement
            .of-effect
              %label
                Effect
              .spot.measure.fill
              .spot.measure
              .spot.measure
            .negative.fill
              %label
                Negative
              .spot.measure
            .of-evidence
              %label
                Evidence
              .spot.measure.fill
              .spot.measure
              .spot.measure

      = link_to '', class: 'item' do
        .item
          .details
            %h3
              Family Preservation
            %p
              Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that work intensively with families to try to avoid out-of-home placement.
          .measurement
            .of-effect
              %label
                Effect
              .spot.measure.fill
              .spot.measure.fill
              .spot.measure.fill
            .negative
              %label
                Negative
              .spot.measure
            .of-evidence
              %label
                Evidence
              .spot.measure.fill
              .spot.measure.fill
              .spot.measure.fill

      = link_to '', class: 'item' do
        .item
          .details
            %h3
              Intensive Programmes
            %p
              Intensive Family Preservation Programmes (IFPPs) are interventions aimed at families in crisis, where there is an imminent risk of children entering care. They are programmes that work intensively with families to try to avoid out-of-home placement.
          .measurement
            .of-effect
              %label
                Effect
              .spot.measure.fill
              .spot.measure
              .spot.measure
            .negative.fill
              %label
                Negative
              .spot.measure
            .of-evidence
              %label
                Evidence
              .spot.measure.fill
              .spot.measure
              .spot.measure

