.container.bump
  .full_width

    %h1
      Evidence results list
    %p
      Some instruction and clarification on how to navigate the evidence results listed below

.container
  .indent
    %strong
      Evidence filter
    .items
      .tags
        %span
          Domestic abuse
        %span
          Drug or alcohol abuse
        %span
          Emotional abuse
        %span
          Exploitation and radicalisation
        %span.selected
          Gangs
        %span
          Mental health
        %span
          Neglect
        %span.selected
          Physical abuse
        %span
          Sexual abuse
        %span.selected
          Youth offending

    %button.update
      Update results


.container
  .indent
    .item
      %h2
        An title of the evidence could influence the results and how users will understand them based on their search.
      Summary of item, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .date
        19 May 2018
      .tags
        %span
          Gangs
        %span
          Physical abuse
        %span
          Youth offending
    .item
      %h2
        How and if we use tags needs to be carefully curated.
      Summary of item, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .date
        1 Jan 2018
      .tags
        %span
          Gangs
        %span
          Physical abuse
    .item
      %h2
        A summary can quickly help show the relevance of evidence shown.
      Summary of item, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .date
        23 Aug 2017
      .tags
        %span
          Physical abuse
        %span
          Youth offending
    .item
      %h2
        4 results we can begin to see the importance of understanding how a user can navigate many.
      Summary of item, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .date
        4 Sept 2017
      .tags
        %span
          Youth offending