.comments {
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: $border-style $border-width $black;
}

.single_comment {
  margin: 25px 0;
  margin-left: 25px;
  padding: 15px;
  background: $gray;

  @include mobile {
    margin-left: 0px;
  }

  p {
    margin-bottom: 0;
  }
  .comment {
    margin-top: 10px;
  }
}

#add_comment {
  margin-top: 50px;

  @include grid-column(6, $no_gutter_grid);
  @include grid-push(3);
  @include mobile {
    @include grid-column(12);
  }

  #{$all-text-inputs} {
    width: 100%;
  }
  .accord-toggle {
    color: $brand;
    text-align: center;

    &:hover {
      color: $black;
    }
  }
  .fa {
    vertical-align: initial;
    margin-right: 10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  .open {
    .accord-toggle {
      display: none;
    }
  }
  .button.cta {
    width: 100%;
    margin-top: 10px;
  }
}

.accordion .accord-single.open .accord-toggle .fa {
  transform: none;
}
