.comments {
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: $style $thin $black;
}

.single_comment {
  margin: 25px 0;
  margin-left: 25px;
  padding: 15px;
  background: $gray;
  p {
    margin-bottom: 0;
  }
  .comment {
    margin-top: 10px;

    blockquote {
      margin-top: 0;
      padding-top: 0;
      p {
        padding-left: 0;
      }
    }
  }
}

#add_comment {
  .accord-toggle {
    color: $brand;
    text-align: center;
    &:hover {
      color: $black;
    }
  }
  .fa {
    vertical-align: initial;
    margin-right: 10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  .open {
    .accord-toggle {
      display: none;
    }
  }
  .button.cta {
    width: 100%;
    margin-top: 10px;
  }
}

.accordion .accord-single.open .accord-toggle .fa {
  transform: none;
}
