.comments {
  margin-top: 35px;
  padding-bottom: 30px;
  border-bottom: $border-style $border-width $black;
}

.single_comment {
  margin: 25px 0;
  padding: 15px;
  background: $highlight;

  @include mobile {
    margin-left: 0px;
  }

  p {
    margin-bottom: 0;
  }
  .comment {
    margin-top: 20px;

    blockquote {
      margin-top: 0;
      padding-top: 10px;
      p {
        padding-left: 0;
      }
    }
  }
}

#add_comment {
  @include grid-column(6, $no_gutter_grid);
  @include grid-push(3);
  @include mobile {
    @include grid-column(12);
  }

  #{$all-text-inputs} {
    width: 100%;
  }
  .accord-toggle {
    text-align: center;
    padding: 15px 0;
    .icon {
      -webkit-transition: padding 0.15s ease-out;
      -moz-transition: padding 0.15s ease-out;
      -o-transition: padding 0.15s ease-out;
      transition: padding 0.15s ease-out;
    }
    &:hover {
      .icon {
        padding-right: 10px;
      }
      .link_style {
        text-decoration: none;
      }
    }
    .link_style {
      color: $brand;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .fa {
    vertical-align: initial;
    margin-right: 10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  .open {
    .accord-toggle {
      display: none;
    }
  }
  .button.cta {
    width: 100%;
    margin-top: 10px;
  }
}

.accordion .accord-single.open .accord-toggle .fa {
  transform: none;
}
