footer {
  background: $black;
  .footer {
    color: $white;
    nav.nav {
      ul li {
        margin-left: 0;
        margin-right: $gutter;
      }
    }
    nav.nav,
    .signup,
    .contact {
      a, a:active, a:visited, p {
        color: $white;
      }
    }
  }
}