footer.footer {

  color: $white;
  a:not(.button), a:visited:not(.button) {
    color: $white;
    &:hover {
      color: $brand;
    }
  }
  #main_cont, .top {
    background-color: $black;
    width: calc(100% - 40px);
    margin-left: 20px;
    @include mob_tab {
      width: 100%;
      margin-left: 0px;
    }
  }
  .top {
    background: $brand;
    height: $baseline*0.2;
  }
  #main_cont {
    padding: 25px 15px;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  .sign_up, .contact_details {
    // padding-left: 75px;
    position: relative;

    // &:before {
    //   content:"";
    //   position: absolute;
    //   width: 25px;
    //   left: 0;
    //   top: 17px;
    //   border-top: 3px solid $white;
    // }
    h2 {
      margin-bottom: 15px;
      position: relative;
      padding-bottom: 15px;
      &:after {
        content: "";
        position: absolute;
        width: 25px;
        left: 0;
        bottom: 0;
        border-top: 3px solid #fff;
      }
    }
  }

  .button {
    &:hover {
      background: $white;
      color: $black;
      border-color: $white;
    }
  }
  .twitter_feed {
    background-color: $white;
    padding: 15px;
    border-radius: 1.5px;
    color: $off-black;
    a:not(.button) {
      color: $off-black;
    }
    .fa {
      color: #1dcaff;
    }
  }
  .twitter {
    margin-bottom: 15px;
  }
  #tweet_cont a {
    color: $off-black !important;
    text-decoration: none;
    margin-right: 15px;
  }
}
