footer.footer {
  padding-bottom: $baseline*0.5;
  background: $black;
  .top {
    background: $brand;
    height: $baseline;
  }
  .logo {

  }
  nav.nav {
    text-align: right;
    ul li a {
      color: $white;
    }
  }
}
