footer.footer {
  color: $white;
  background: $black;
  nav.nav {
    ul li {
      margin-left: 0;
      margin-right: $gutter;
    }
  }
  nav.nav,
  .signup,
  .contact {
    a, a:active, a:visited, p {
      color: $white;
    }
  }
}
