section.collection.border {
  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $brand;
    }
  }
  .single:not(.title) {
    border-bottom: $border-style $border-width $black;
    padding-bottom: 10px;
  }
  h3 {
    margin-bottom: 25px;
    min-height: 140px;

    @include mob_tab {
      min-height: 30px !important;
    }
  }
  .sub_text {
    color: rgba($black, 0.5);
    min-height: 58px;
    position: relative;
    .date {
      // position: absolute;
      width: 100%;
      bottom: 0;
    }
    p {
      margin: 0;
    }
    a {
      color: rgba($black, 0.5);
      &:hover {
        color: rgba($black, 1);
      }
    }
  }
}
