section.collection.border {
  a {
    color: $black;
    text-decoration: none;
  }
  .single:not(.title) {
    border-bottom: $border-style $border-width $black;
    padding-bottom: 10px;
  }
  h3 {
    margin-bottom: 25px;
    min-height: 112px;
  }
  .sub_text {
    color: rgba($black, 0.5);
    p {
      margin: 0;
    }
    a {
      color: rgba($black, 0.5);
      &:hover {
        color: rgba($black, 1);
      }
    }
  }
}
