.sub_pages {
  margin-top: 75px;

  .single_sub_page {
    border-top: $border-width solid $black;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-top: 45px;
    &:last-child {
      border-bottom: $border-width solid $black;
      padding-bottom: 45px;
    }
    .summary {
      max-width: 400px;
    }
    .title_container {
      @include grid-column(8, $no_gutter_grid);
      @include mobile {
        @include grid-column(12);
      }

      h2 {
        margin-top: 0;
      }
    }

    .button_container {
      @include grid-column(4, $no_gutter_grid);
      @include mobile {
        @include grid-column(12);
      }

      .button {
        width: 100%;
        margin-top: 25px;
      }
    }
  }
}
