$subnavs: (
  about-us: 1,
  setting-up-the-centre: 2,
  who-we-are: 3,
  contact-us: 4,
  working-with: 1,
  whos-involved: 2,
  what-you-told-us: 3,
  co-designing-with-partners: 4,
  evidence: 1,
  research-topics: 2,
  standard: 3,
  outcomes-framework: 4,
  evidence-store: 5
);

@each $key, $value in $subnavs {
  .sub_nav ul li.#{$key} {
    order: $value
  }
  
  .sub_pages .single_sub_page.#{$key} {
    order: $value
  }
}

.sub_pages .single_sub_page {
  &.contact-us, &.co-designing-with-partners, &.evidence-store {
    border-bottom: $border-width solid $black;
    padding-bottom: 45px;
  }
}
