.sub_pages {
  margin-top: 50px;

  .single_sub_page {
    border-top: 2px solid $black;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 0;

    .title_container {
      @include grid-column(8, $no_gutter_grid);
      @include mobile {
        @include grid-column(12);
      }
    }

    .button_container {
      @include grid-column(4, $no_gutter_grid);
      @include mobile {
        @include grid-column(12);
      }

      .button {
        width: 100%;
        margin-top: 25px;
      }
    }
  }
}
