.sub_nav {
  background: $brand;
  text-align: center;
  padding: 15px;
  margin-bottom: 25px;
  line-height: 40px;
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 15px;
      a, a:visited {
        color: $black;
        text-decoration: none;
        letter-spacing: 0.25px;

        &:hover {
          font-weight: 600;
          letter-spacing: 0;
        }
      }

      &.selected {
        font-weight: 600;

        a {
          position: relative;
          padding-bottom: 5px;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            border-top: 2px solid #000;
          }
          &:hover {
            letter-spacing: 0.25px;
          }
        }
      }


    }
  }
}
