---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <TWITTER_BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 20 Jun 2018 15:12:20 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 054d77bcc6672f0ac4a88ad14e7545cc
      X-Response-Time:
      - '140'
      X-Transaction:
      - 00c7318c006463c8
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAEXL6gAAAAAA1T%2FM9OppyXv5AYlYYewK3i%2BgxUY%3D9t0PToAoDeEa6S50VgexoFW52RLT3CS7hSwnYwpwe4ZhbdDIW0"}'
  recorded_at: Wed, 20 Jun 2018 15:12:20 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=<TWITTER_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAEXL6gAAAAAA1T%2FM9OppyXv5AYlYYewK3i%2BgxUY%3D9t0PToAoDeEa6S50VgexoFW52RLT3CS7hSwnYwpwe4ZhbdDIW0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 20 Jun 2018 15:12:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - a80a8cf93503d4855fa962b147962591
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1497'
      X-Rate-Limit-Reset:
      - '1529508250'
      X-Response-Time:
      - '269'
      X-Transaction:
      - '009867220094f9dc'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Jun 19 14:43:49 +0000 2018","id":1009084342545670144,"id_str":"1009084342545670144","text":"Yes
        our very own @ThatGirlVim will be live on @DigiLeaders at 5pm today: Meet
        the young disruptors\u2026 https:\/\/t.co\/YLiTQRb0hi","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ThatGirlVim","name":"Vimla
        Appadoo","id":421086412,"id_str":"421086412","indices":[17,29]},{"screen_name":"DigiLeaders","name":"Digital
        Leaders","id":199893073,"id_str":"199893073","indices":[46,58]}],"urls":[{"url":"https:\/\/t.co\/YLiTQRb0hi","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1009084342545670144","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[100,123]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":12029252,"id_str":"12029252","name":"FutureGov","screen_name":"FutureGov","location":"\ud83c\uddec\ud83c\udde7
        | \ud83c\udde6\ud83c\uddfa | \ud83c\udde9\ud83c\uddea | \ud83c\uddee\ud83c\uddf9","description":"10
        years of designing and delivering public services fit for the digital age
        #FGis10 (ps we are hiring! \ud83d\udce9)","url":"https:\/\/t.co\/IO2mgoc89j","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/IO2mgoc89j","expanded_url":"http:\/\/weare<TWITTER_USERNAME>.com","display_url":"weare<TWITTER_USERNAME>.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":19810,"friends_count":7006,"listed_count":1037,"created_at":"Wed
        Jan 09 15:14:54 +0000 2008","favourites_count":4286,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":10259,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/953956486522294272\/Xg0iJkJ8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/953956486522294272\/Xg0iJkJ8_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/12029252\/1516275899","profile_link_color":"2C2B2B","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"D71614","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":12,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Jun 18 14:54:34 +0000 2018","id":1008724659972595713,"id_str":"1008724659972595713","text":"RT
        @dominiccampbell: Looking forward to going along to speak about plans for
        the digital transformation of @HomesEngland #WeAreHomesEngland\u2026","truncated":false,"entities":{"hashtags":[{"text":"WeAreHomesEngland","indices":[121,139]}],"symbols":[],"user_mentions":[{"screen_name":"dominiccampbell","name":"Dominic
        Campbell","id":75268[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=<TWITTER_USERNAME>&tweet_mode=extended
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAEXL6gAAAAAA1T%2FM9OppyXv5AYlYYewK3i%2BgxUY%3D9t0PToAoDeEa6S50VgexoFW52RLT3CS7hSwnYwpwe4ZhbdDIW0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Jul 2018 13:34:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - bdf38d1ed394404d53c2fa41a0924b82
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1478'
      X-Rate-Limit-Reset:
      - '1530625395'
      X-Response-Time:
      - '226'
      X-Transaction:
      - 0075476500fed4a8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Jul 02 15:38:10 +0000 2018","id":1013809060146278400,"id_str":"1013809060146278400","full_text":"RT
        @FutureGov: Calling all Senior Service Designers in London &amp; the North
        - we''re hiring passionate people who want to change public servic\u2026","truncated":false,"display_text_range":[0,144],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"FutureGov","name":"FutureGov","id":12029252,"id_str":"12029252","indices":[3,13]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":12029252,"id_str":"1202[...]
