.container
  %section.section.tagline
    %h1
      Better outcomes for children and their families.
    %h4
      The new What Works Centre for Children’s Social Care will help leaders and practitioners to make evidence-informed decisions about how they plan and deliver support to children, young people and families.

  %section.section.homepage_link
    .dash
    .about_link
      %h3 We will help to generate, share and increase the use of reliable evidence across the public, private and voluntary sectors.
    %p.link
      %span.chevron.r
      =link_to "Sign up for news, findings and opportunities to shape the Centre", "https://nesta.us1.list-manage.com/subscribe?u=db62b5694f0d8093140a6b62e&id=4ed5659990", target: '_blank'

  %section.collection
    .single.title
      %h2
        How we are setting up the new centre
    .single
      %h3
        Evidence and Research
      %p
        Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
      = link_to "Learn about our evidence", section_path(id: 'evidence')
    .single
      %h3
        Co-designing services
      %p
        Working with local authorities and partners to co-design and test ways to generate, share and embed evidence.
      = link_to "Learn about our services", section_path(id: 'about-us')
    .single
      %h3
        Working with you
      %p
        Developing our strategy, services and team with children, young people, families, social workers,
      = link_to "Learn how we work with you", section_path(id: 'working-with')

  %section.collection.border
    .single.title
      %h2
        What's new
    - @blog_posts.each do |b|
      .single
        =link_to blog_post_path(id: b.slug) do
          %h3=b.title
        .sub_text
          .author=b.decorate.decorate_author
          .date=b.decorate.decorate_date



  %section.section.impact
    %h2
      The decisions that social care leaders and practitioners make can impact on children, young people and their families throughout their lives.
    %h2
      Basing those decisions on reliable evidence about what works is critical.

