.container
  %section.section.tagline
    %h1 Better evidence, better outcomes
    %h4 The What Works Centre for Children’s Social Care is a new initiative that seeks better outcomes for children, young people and families by helping practitioners and decision makers across the children’s social care sector to inform their work with the best possible evidence.
    %h4 The Department for Education is funding the Centre’s development.
    %p.link.chevron_link
      %span.chevron.r
      =link_to "Sign up for news, findings and opportunities to shape the Centre", "https://nesta.us1.list-manage.com/subscribe?u=db62b5694f0d8093140a6b62e&id=4ed5659990", target: '_blank'

  %section.collection
    .single.title
      %h2
        How we are setting up the new centre
    .single
      %h3 Working with the sector
      %p Developing what we will do and how we will do it with children, young people, families, social workers, leaders and researchers.
      .chevron_link
        %span.chevron.r
        = link_to "How we work with the sector", section_path(id: 'working-with')

    .single
      %h3 Generating Evidence
      %p Researching initial themes, such as safely reducing the need to enter care. Consulting on what evidence standards and outcomes matter, and developing an ‘evidence store’.
      .chevron_link
        %span.chevron.r
        = link_to "Our approach to evidence", section_path(id: 'evidence')

    .single
      %h3 Sharing and using evidence
      %p Co-designing and testing ways to generate, share and embed evidence, in partnership with local authorities. Scaling up the use of reliable evidence.
      .chevron_link
        %span.chevron.r
        = link_to "How we co-design", section_page_path('working-with', 'co-designing-with-partners')

  %section.collection.border
    .single.title
      %h2
        What's new
    - @blog_posts.each do |b|
      .single
        =link_to blog_post_path(id: b.slug) do
          %h3=b.title
        = b.decorate.decorate_image
        .sub_text
          =b.decorate.decorate_author
          =b.decorate.decorate_date



  %section.section.impact
    %h4
      The decisions that social care leaders and practitioners make can impact on children, young people and their families throughout their lives.
    %h4
      Basing those decisions on reliable evidence about what works is critical.
