.hero
  %h1
    = link_to "Better"
    outcomes for children and their families.
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
%section.section
  %h2
    The new centre will
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
%section.section.impact
  %h2
    Improving how we support them can impact on the rest of their lives.
  %p
    700,000 children and young people, along with their families have contact with the children’s social care sector every year in England.
%section.section
  %h2
    This is section title left aligned
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
-# %section.collection
-#   %h2
-#     How we are setting up the new centre
-#     .single
-#       %h3
-#         Evidence and Research
-#       %p
-#         Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
-#     .single
-#       %h3
-#         Evidence and Research
-#       %p
-#         Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
-#     .single
-#       %h3
-#         Evidence and Research
-#       %p
-#         Researching initial themes on safely reducing the need to enter care, and supervision. Consulting on evidence standards and outcomes.
