.container.content_page#meet_the_team
  %h1= @page.title

  .indented
    = parse_markdown(@page.content)

    .team.members_list.full_width
      .inner_container
        - @team_members.sort_by(&:"name").each do |tm|
          =link_to team_member_path(id: tm.slug), class: 'single_member_container' do
            .single_member
              .inner_container
                =tm.decorate.decorate_image
                .details
                  %h3=tm.name
                  .role=tm.try(:role)
